@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/geomanist');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', Calibri, sans-serif;
}


.contentLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.separadorLogo{
    width: 6px;
    height:100%;
    background-color: black;
    margin-left: 3px;
    margin-right: 3px;
}

.imgLogoSite{
    width: 400px;
}

@media only screen and (max-width: 767px) {
    .imgLogoSite{
        width: 300px;
    }


    }
